.profile-bg {
	display: flex;
	position: absolute;
	width: 100%;
	height: 91%;
	overflow: hidden;
	background: whitesmoke;
}

.btn-inline {
	display: inline-block;
}

.btn-line-right {
	float: right;
}

.btn-line-left {
	float: left;
}